.MenuLDNTitle {
    margin-top: 0%;
    font-family: j2;
    font-size: 50px;
    text-decoration: underline;
}


#description::placeholder {
    color: white
}

.inputLDNCreation {
    width: 92%;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    border:1px solid transparent;
    color: white
}

.inputLDNCreation::placeholder {
    color: white;
}


#LDNdivcreation {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: 19.3vh;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

#selectLDNcreation {
    margin-top: 2%;
    background-color: black;
    width: 90.5%;
    margin-left: 4%;
    color: white;
    padding: 0.8%;
    border-radius: 10px;
    border: 1px solid transparent;
}

#selectLDNcreation select{
    margin-left: 2%;
    background-color: black;
    color: white;
    border: 1px solid transparent;
}

.boutonOfCreationLDN, .boutonOfSaveSqueletLDN, .boutonOfSaveExoLDN {
    background-color: black;
    color: white;
    height: 4vh;
    text-align: center;
    width: 20vh;
    border-radius: 10px;
    border: 1px solid transparent;
}

.boutonOfCreationLDN:hover, .boutonOfSaveSqueletLDN:hover, .boutonOfSaveExoLDN:hover {
    color: black;
    background-color: white;
    border: 1px solid black
}


.divButtonsLDN {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 37%;
    margin-left: 32%;
    background: rgb(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    height: 7svh;
}

.ldnResultatCreator {
    margin-top: 1%;
    font-family: j2;
    font-size: 50px;
}

.inputLDNCreator {
    background-color: black;
    color: white;
    text-align: center;
    width: 5%;
    height: 3vh;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-radius: 10px;
}

.anneeScolaireLDN {
    margin-top: -2%;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.AnneeScolaireChoiceLDN {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 20px;
}

.legendAnneeScolaireLDN {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 180%;
}

.divLDNCreator {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: auto;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}