.divUserInformation {
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-bottom: 10px;  
    width: 90%;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%; 
    width: 25%;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid white;
    margin-left: 9%;
    margin-top: -9%;
}


.profImg {
    position: fixed;
    bottom: -20px;
    left: 30%;
    opacity: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


.adminImg {
    position: fixed;
    bottom: -230px;
    transform: rotate(180deg);
    left: 49%;
    opacity: 50%;
    transform: translateX(50%);
    transform: scaleX(-1);
    z-index: -1;
}

#divExos {
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    margin-left: 65%;
    margin-top: -5%;
    padding: 2%;
    width: 30%;
}



.divExoDelete {
    background: rgb(170, 18, 137, 0.35);
    padding: 1%;
    border: 1px solid white;
    border-radius: 20px;
}

.nameElement {
    font-weight: bold;
}

#compteConnecte {
    margin-right: 50%;
}

#compteConnecteAdmin {
    right: -32%;
    position: relative;

}

.pConnection {
    margin-top: 1%;
    font-size: 220%;
    font-weight: bold;
    font-family: j2;
}

.pConnectionAdmin {
    margin-top: 2%;
    font-weight: bold;
    margin-left: -13%;
    font-size: 220%;
    width: auto;
    font-family: j2;
}

.roleUser {
    color:rgb(170, 18, 137);

}

@font-face {
    font-family: 'j2';
    src: local('j2'), url('../connection/font/fabulous_signature/Fabulous\ Signature.ttf') format('truetype'), url('../connection/font/fabulous_signature/Fabulous\ Signature.otf') format('opentype');
}

@font-face {
    font-family: 'joli';
    src: local('joli'), url('../connection/font/overthink_3/Overthink.ttf') format('truetype'), url('../connection/font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'homeKitchen';
    src: local('homeKitchen'), url('../connection/font/home_kitchen/Home\ Kitchen.ttf') format('truetype'), url('../connection/font/home_kitchen/Home\ Kitchen.otf') format('opentype');
}

.welcomeUsername {
    margin-top: -2%;
    width: auto;
    font-family: homeKitchen;
    font-size: 370%;
}

.h3exoslist {
    margin-top: -5%;
    font-size: 220%;
    width: auto;
    font-family: j2;
}

.buttonProfile:hover {
    background-color: white;
    color: rgb(170, 18, 137);
    border: 1px solid rgb(170, 18, 137); 
}

.buttonProfile {
    font-size: 200%;
    font-weight: bold;
    height: 6%;
    font-family: homeKitchen;
    background-color: rgb(170, 18, 137);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.buttonDeleteExo {
    background-color: white;
    color: red;
    width: 40%;
    padding-top: -1%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.buttonDeleteExo:hover {
    background: rgb(170, 18, 137, 0.01);
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}

.divButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.divButton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21%;
}




.textProfile {
    font-size: 40px;
    color: black;
    font-family: homeKitchen;
    font-weight: bold;
    
}


#divProfile {
    overflow: hidden;
}


.changeRoleButton {
    background-color: black;
    color: white;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.h3exoslistUser {
    font-size: 220%;
    font-family: j2;
    color: rgb(170, 18, 137);  
}

.changeRoleButton:hover {
    background: rgb(228, 205, 205);
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

#SearchBarAdmin {
    width: 70%;
    margin-left: 50%;
    margin-top: -5%;
}

.pConnectionE {
    font-size: 220%;
    font-family: j2;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 56%;
    font-size: 45px;
    width: 100%;
}

.eleveImg {
    position: fixed;
    top: 28%;
    left: 30%;
    opacity: 50%;
    transform: translateX(-50%);
    transform: scaleX(-1);
    z-index: -1;
}



.pProfileAdmin {
    color: white;
    text-decoration: underline;
    font-family: joli;
    font-size: 23px;
    font-weight: bold;
}

.userNameRole {
    font-family: joli;
    font-size: 18px;
    font-weight: bold;
}

.selectUserRole {
    margin-left: 10px;
    width: 20%;
    text-align: center;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}




@media screen and (max-width: 930px) {
    .eleveImg {
        display: none;
    }
}



@media screen and (max-width: 800px) {
    .profImg {
        display: none;
    }
}

@media screen and (max-width: 1636px) {
    .adminImg {
        display: none;
    }
    .pConnectionAdmin {
        margin-left: -70%;
    }
}