.exercice-list {
    padding: 20px;
}

.exercice-details p {
    color: rgb(251,214,140);
}

.exercice-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px; 
}

.exercice-content {
    display: flex;
}

.image-container {
    margin-right: 20px; 
}

button {
    margin: 10px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}


#mainDivHistory {
    background-image: url('./img/historique3.jpg');
    background-position-y: 10%;
    background-size: cover; 
}


  @media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #mainDivHistory {
        background-image: none; 
    }
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #mainDivHistory {
        background-image: none; 
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #mainDivHistory {
        background-image: none; /* Retire le fond d'écran lorsque la largeur de l'écran est de 600 pixels ou moins */
    }
}

#G2 {
    height: 94.5vh;
}