/* ... autres styles ... */

.exercice-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7; /* Couleur de fond pour la liste d'exercices */
    padding: 20px; /* Ajout de marge intérieure pour aérer */
}

.exercice-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    max-width: 600px;
    background-color: #fff; /* Couleur de fond pour chaque item d'exercice */
    padding: 15px; /* Marge intérieure pour aérer chaque item */
}

.exercice-content {
    display: flex;
}

.image-container {
    margin-right: 20px; /* Espace entre l'image et les détails de l'exercice */
}

/* Couleurs pour les textes et boutons */
h3 {
    color: #333; /* Couleur du titre */
}

p {
    color: #555; /* Couleur du texte principal */
}

button {
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

/* ... autres styles ... */
