.exercice-list {
    padding: 20px;
}

.exercice-details p {
    color: black;
}

.exercice-item {
    border: 2px solid rgb(170, 18, 137, 0.35);
    border-radius: 5px;
    margin: 10px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 15px; 
}

.exercice-content {
    display: flex;
}

.image-container {
    margin-right: 20px; 
}

button {
    margin: 10px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}


#mainDivHistory {
    background-image: url('./img/historique3.jpg');
    background-position-y: 90%;
    background-size: cover; 
}


  @media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #mainDivHistory {
        background-image: none; 
    }
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #mainDivHistory {
        background-image: none; 
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #mainDivHistory {
        background-image: none; /* Retire le fond d'écran lorsque la largeur de l'écran est de 600 pixels ou moins */
    }
}

#G2 {
    height: 91.5vh;
    overflow-y: auto;
}

.buttonProfileH:hover {
    background-color: white;
    color: rgb(170, 18, 137);
    border: 1px solid rgb(170, 18, 137); 
}

.buttonProfileH  {
    font-size:15px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}