.inputConnection {
    text-align: center;
    border-radius: 7px;
    height: 15px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 200;
}

#input_connection_div {
    background-color: white;
    height: 100vh;
    opacity: 0.92;

    background-image: url('./img/2eme.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

@font-face {
    font-family: 'joli';
    src: local('joli'), url('./font/overthink_3/Overthink.ttf') format('truetype'), url('./font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'joli';
    src: local('joli'), url('./font/overthink_3/Overthink.ttf') format('truetype'), url('./font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'homeKitchen';
    src: local('homeKitchen'), url('./font/home_kitchen/Home\ Kitchen.ttf') format('truetype'), url('./font/home_kitchen/Home\ Kitchen.otf') format('opentype');
}

@font-face {
    font-family: 'j2';
    src: local('j2'), url('./font/fabulous_signature/Fabulous\ Signature.ttf') format('truetype'), url('./font/fabulous_signature/Fabulous\ Signature.otf') format('opentype');
}

#input_connection_div h1 {
    font-weight: bold;
    font-size: 50px;
    font-family: 'j2';
}

#input_connection_div h2 {
    font-size: 35px;
    font-family: 'j2';
    color: linear-gradient(to right, #ff0000, #00ff00);

}

#input_connection_div h5 {
    font-family: 'j2';
    color: black;
    font-size: 30px;
}

#input_connection_div button {
    font-size: 30px;
    font-family: 'homeKitchen';
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; 
}

#input_connection_div button:hover {
    background-color: white;
    color: black;
    border-color: black; 
}


  
.bottom-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.connection-button {
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
}

.inputConnection {
    text-align: center;
    border-radius: 7px;
    height: 15px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 200;
}


.h1Connection {
    margin-top: 1%
}