.MenuMBTitle {
    margin-top: 0%;
    font-family: j2;
    font-size: 50px;
    text-decoration: underline;
}

.MBdivcreation {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: auto;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px; 
}

.inputMB {
    padding: 1.5%;
    width: 92%;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inputMB::placeholder {
    color: white
}

.descriptionMB {
    text-align: center;
    height: auto;
    width: 92%;
    margin-top: 1%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.descriptionMB::placeholder {
    padding-top: 1%;
    color: white;
}

#table {
    width: 90%;
    border: 1px solid white;
}

#table th {
    color: white;
    background: rgb(0, 0, 0, 0.5);
    width: auto;
    border: 1px solid white;
}

#table td {
    color: white;
    font-weight: bold;
    font-size: 16px;
}


#divSuiteExo {
    background: rgb(0, 0, 0, 0.5);
    width: 36%;
    margin-left: 32%;
    margin-top: 1%;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 1%;
}

#name_photo_mb {
    margin-top: 1%;
    width: 92%;
    height: auto;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#name_photo_mb::placeholder {
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonMB {
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    width: 15vh;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.buttonMB:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.h3img {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 20px;
}

.anneeScolaireMB {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.AnneeScolaireChoiceMB {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 20px;
}

.legendAnneeScolaireMB {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 180%;
}