#searchBarContainer {
    text-align: center;
    margin-bottom: -2%;
}

.navbar {
    margin-bottom: 2%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    flex: 1; /* Chaque li occupe une part égale de l'espace disponible */
    text-align: center;
    margin: 0 5px; /* Ajoutez une marge entre les éléments li si nécessaire */
}

.navbar select,
.navbar input,
.navbar button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.navbar button {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #444;
}

.custom-select-searchBar {
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    text-align: center;
    background-color: #555;
    color: white;
}

.custom-select-searchBar:hover {
    border-color: #aaa;
}

#rechercheSpecifique {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#rechercheSpecifique::placeholder {
    color: white;
}


.navbar button {
    margin-top: 14px; /* Ajustez la valeur selon vos besoins */
}



#showWS {
    background-color: rgb(125, 196, 20);
}