.navbar {

    width: 60%;
    margin: 0 auto;

}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Centre les éléments enfants horizontalement */
}

.navbar li {
    width: 170px; /* Augmentez la largeur selon vos besoins */
    margin-left: 8%; /* Ajoutez une marge pour l'espace entre les éléments li */
    text-align: center;
    border-radius: 10px;
}

.navbar select,
.navbar input,
.navbar button {
    width: 130%; /* Faites en sorte que les éléments occupent toute la largeur de la navbar */
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 7px;

}

.navbar button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #555;
}



.custom-select-searchBar {
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    text-align: center;
}

.custom-select:hover {
    border-color: #aaa;
}