#zone_tti {
    background-color: aquamarine;
}

#zone_ldn {
    background-color:firebrick;
}

#zone_tat {
    background-color: indigo;
}

#zone_tat {
    color:aliceblue
}

#zone_abaque {
    background-color: olive;
}