.imgRP2 {
    position: fixed;
    top: 70%;  
    left: 51%;
    transform: translate(-50%, -50%); 
    z-index: -2;
    opacity: 0.6;
}

.inputRP3 {
    margin-top: 1%;
    text-align: center;
    border-radius: 7px;
    height: 25px;
    width: 300px;
    border: 1px solid black;
}

.errorRP2 {
    font-family: joli;
    font-size: 220%;
}

.succesRP2 {
    font-family: joli;
    font-size: 220%;
}

#text_zone2 {
    width: auto;
    margin-left: 40%;
    padding: 1%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid white;
    background: rgb(0, 0, 0, 0.7);
}

.requiredRP {
    font-family: homeKitchen;
    
    font-size: 30px;
}

#buttonRP2 {
    width: auto;
    padding: 1%;
    margin-top: auto;
    background-color: black;
    height: 20%;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#buttonRP:hover {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

.psw2 {
    width: 36%;
    margin-left: 32%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid #ff746c;
}