@font-face {
    font-family: 'joli';
    src: local('joli'), url('./font/overthink_3/Overthink.ttf') format('truetype'), url('./font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'joli';
    src: local('joli'), url('./font/overthink_3/Overthink.ttf') format('truetype'), url('./font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'homeKitchen';
    src: local('homeKitchen'), url('./font/home_kitchen/Home\ Kitchen.ttf') format('truetype'), url('./font/home_kitchen/Home\ Kitchen.otf') format('opentype');
}
  
.pInfoExercice {
    font-family: 'joli';
    font-size: 30px;
    color: aliceblue;
}


.infoData {
    color: rgb(224, 202, 202);
    padding-left: 0.5%;
    font-size: 20px;
}


.exercise-details p {
    margin-top: 2%;
    color: white;
}

.abaqueWSCreator {
    background-color: red;
}
  
#allViergeInfo {
    width: 100%;
    height: 100%; 
    text-align: center;
    background: rgb(216,92,60);
    padding: 2%;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: -140px;
}
  
#allCompletedInfo {
    width: 100%; 
    height: 100%; 
    text-align: center;
    background: rgb(192,156,76);
    padding: 2%;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: -220px;
}

  
.popup-trigger {
    color: white;
}

.exercise-details {
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid white;
    background-color: rgb(0,0,0, 0.2);
    border-radius: 20px;
}

#infosSansCorrection h3 {
    color: white;
}

.h3popup {
    color: white;
    font-family: 'joli';
    font-size: 30px
}

.popup-trigger {
    transition: color 0.3s ease;
}
  
.popup-trigger:hover {
    background: (0,0,0, 0.2);
}

.brainImg {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.popup-center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-popup-arrow.popup-arrow:after {
    left: 50% !important;
    margin-left: -10px !important; /* Ajustez cette valeur en conséquence */
  }