/* Navbar container */
#mainDiv {
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 8%;
}

nav {
    display: flex;
    width: 100%;
}

/* Navbar links */
ul {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    margin-left: 300px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #FF8C42;
}


.fa-user-alt {
    font-size: 40px; /* Ajustez la taille de l'icône selon vos besoins */
}

.swal2-icon {
    color: #ff0000;
}

#popupConnection {
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}



#text_history {
    background-color: white;
    padding: 2%;
    height: 20px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
}


.buttonProfile2:hover {
    background-color: white;
    color: rgb(170, 18, 137);
    border: 1px solid rgb(170, 18, 137); 
}

.buttonProfile2 {
    font-size:15px;
    background-color: rgb(170, 18, 137);
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}