@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: rgb(128,60,52);
	--mainColorLight: #5767aa;
	--secondaryColor: rgba(255,114,107,255);
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div {
	display: flex;
	align-items: center;
}

header nav {
	position: fixed;
	width: 40%;
	margin-left: 30%;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
		z-index: 100;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.buttonProfile2:hover {
  background-color: white;
  color: rgb(170, 18, 137);
  border: 1px solid rgb(170, 18, 137); 
}

.buttonProfile2 {
  font-size:15px;
  background-color: rgb(170, 18, 137);
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#popupConnection {
  height: 300px;
  width: 500px;
  background-color: rgb(256,244,244);
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(136,60,52);
}


#divNonConnecté button {
	margin-top: 10%;
}

#divNonConnecté h2 {
	margin-top: 10%;
	font-family: j2;
}

.popupProfil p {
	margin-top: 2%;
	margin-bottom: 1%;
	color: rgb(136,60,52);
}

.popupProfil h3 {
	font-family: j2;
	font-weight: bold;
	color: rgb(136,60,52);
}

.logout {
	color: rgb(136,60,52);
}