@font-face {
  font-family: 'joli';
  src: local('joli'), url('../infoExerciceWS/font/overthink_3/Overthink.ttf') format('truetype'), url('../infoExerciceWS/font/overthink_3/Overthink.otf') format('opentype');
}

.abaqueWSCreator {
  background-color: red;
}

#allViergeInfo {

  width: auto; 
  height: 100%; 
  text-align: center;
  background-color: red;
  padding-top: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
}

#allCompletedInfo {
  width: 100; 
  height: auto; 
  text-align: center;
  background-color: green;
  padding-top: 1%;
  margin-right: 113px;
  padding-bottom: 1%;
}

#divPopup {
  display: flex;
  justify-content: center;
}

.popup-trigger {
  margin: 0 10px;
}

.zoneSC {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid white;
  background-color: rgb(0,0,0, 0.2);
  border-radius: 20px;
}

.zoneSC div {
  color: white;
  font-weight: bold;
}

.zoneAC {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid white;
  background-color: rgb(0,0,0, 0.2);
  border-radius: 20px;
}

.zoneAC p {
  color: white;
  font-family: 'joli';
}

.h3ie {
  color: white;
  margin-top: 1%;
  font-size: 40px;
}


#zoneAC, h4 {
  color: white;
}

#infoAvecCorrection {
  color: white;
  padding: 1%;
}