@font-face {
    font-family: 'joli';
    src: local('joli'), url('../connection/font/overthink_3/Overthink.ttf') format('truetype'), url('../connection/font/overthink_3/Overthink.otf') format('opentype');
}

@font-face {
    font-family: 'homeKitchen';
    src: local('homeKitchen'), url('../connection/font/home_kitchen/Home\ Kitchen.ttf') format('truetype'), url('../connection/font/home_kitchen/Home\ Kitchen.otf') format('opentype');
}

#rpPage {
    height: 100vh;
}

.inputRE {
    width: 200px;
    text-align: center;
}

#divh2RP {
    margin-top: 3%;
    font-size: 50px;
    font-family: joli;
}

#divh2RP2 {
    margin-top: 7%;
    font-size: 50px;
    font-family: joli;
}

#divpRP2 {
    font-size: 35px;
    font-family: joli;
    font-weight: bold;
    margin-top: 7%;
}

#buttonRP2 {
    margin-top: 5%;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#buttonRP2:hover {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

#divpRP {
    font-size: 35px;
    font-family: joli;
    font-weight: bold;
    margin-top: 4%;
}

.inputRE {
    margin-top: 4%;
    border-radius: 7px;
    height: 25px;
    width: 300px;
    border: 1px solid black;
}

#buttonRP {
    margin-top: 2%;
    width: 300px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#buttonRP:hover {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

.imgRP1 {
    position: fixed;
    margin-top: -400px;
    margin-left: -215px;
    z-index: -2;
    opacity: 0.6;
}