#propExos {
    color: #fff; /* Couleur du texte */
    font-family: 'Chewy', cursive;
    text-decoration: underline;
}

#refreshHome {
    margin-top: -22px;
    display: flex;
    flex-direction:row; /* Aligne les éléments en colonne */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.iconRefresh {
    margin-top: 8px;
    margin-left: 10px;
    color: white;
    font-size: 25px;
}

.important4 {
    color: yellow
}


#infoSpan {
    margin-top: 0.5%;
    margin-right: 0.5%;
}


#text_zone10 {
    text-align: center;
    background: rgb(255,255,255, 0.7);
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid orange;
}

#text_zone10 h1 {
    color: red;
}
