#mdn {
    background-color: lightblue;
}

#MDN_div {
}

#mdn_resulat {
    background-color: olive;
}


#nomMDN {
    width: 400px;
}

#descriptionExercice {
    text-align: center;
}

#nombre {
    width: 400px;
}

.inputMDN {
    border-radius: 10px;
    width: 100px;
}

.triangle-down {
    width: 0;
    height: 0;
    position: relative;
    text-align: center;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000; /* Modifier la couleur pour changer la couleur du triangle */
  }
  
  