.divsttWS {
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: auto;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.infoSonSelected {
    padding-bottom: 1%;
}

.h3sttWS {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 180%;
}

.buttonSTTWS {
    background-color: black;
    color: white;
    padding: 1%;
    height: auto;
    text-align: center;
    width: auto;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.buttonSTTWS:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.table-container {
    padding-bottom: 2%;
}

#descriptionExoSTTWS {
    margin-top: 1%;
    text-align: center;
    height: 7vh;
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #descriptionExoSTTWS::placeholder {
    color: white;
    padding-top: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }