/* textToImg.css */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centre également le texte à l'intérieur du tableau */
  }
  
/* textToImg.css */

#table {
    border-collapse: collapse;
    width: 24%;
  }
  
  #table th,
  #table td {
    border: 1px solid #000; /* Ajoute des bordures aux cellules */
    padding: 8px; /* Ajoute de l'espace à l'intérieur des cellules */
    text-align: center; /* Centre le texte */
  }
  
  #table th {
    background-color: #f2f2f2; 
  }
  



#descriptionExo {
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#descriptionExo {
  border-radius: 10px;
}