body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(45deg, #FF8C42, #FF6384);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
