.popupExos {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 4%;
    border: 1px solid white;
    border-radius: 50%;
}

popup {
    background-color: red;
}

.popupExos a {
    color: black;
}

img {
    margin: 20px;
}

#div_img_create_exercice {
   border: 1px solid black;
   background-color: rgba(255, 255, 255, 0.45);
}

#div_photo_create_exercice {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.45);
}

#div_son_create_exercice {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.45);
}