.MenuAbaqueTitle {
    margin-top: -2%;
    font-family: j2;
    font-size: 50px;
    text-decoration: underline;
}

/* Année scolaire */
.anneeScolaireAbaque {
    margin-top: 0%;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.AnneeScolaireChoiceAbaque {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 20px;
}

.legendAnneeScolaireAbaque {
    color: white;
    font-family: j2;
    font-weight: bold;
    font-size: 180%;
}

.inputAnneeScolaire {
    position:relative;
    font-size: 30px;
    margin-left: 20px;
}



/* Input abaque */
.divInputs {
    background: rgb(0, 0, 0, 0.5);
    padding: 1%;
    width: 36%;
    height: 10%;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.inputAbaque {
    padding: 1.5%;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.inputAbaque::placeholder {
    color: white
}

#descriptionExercice {
    text-align: center;
    height: 2%;
    width: 90%;
    background-color: black;
    border: 1px solid transparent;
    color: white
}

#descriptionExercice::placeholder {
    color: white
}

/* Button abaque */
.divButtons {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 36%;
    margin-left: 32%;
    background: rgb(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    height: auto;
}

.boutonOfCreation, .boutonOfSaveSquelet, .boutonOfSaveExo {
    background-color: black;
    color: white;
    padding: 2%;
    height: auto;
    text-align: center;
    width: auto;
    border-radius: 10px;
    border: 1px solid transparent;
}

.boutonOfCreation:hover, .boutonOfSaveSquelet:hover, .boutonOfSaveExo:hover {
    background-color: rgb(248, 222, 222);
    color: black;
    padding: 2%;
    height: auto;
    text-align: center;
    width: auto;
    border-radius: 10px;
    border: 1px solid bla;
}

#divCreationAbaque {
    padding: 2%;
}

#creatifImg {
    position: fixed;
    top:-1%;
    left: -3%;
    opacity: 50%;
    transform: translateX(-50%);
    transform: scaleX(-1);
    z-index: -1;
}

.abaqueH2 {
    margin-top: 1%;
    font-family: j2;
    margin-top: 1%;
    color: white;
    font-family: j2;
    margin-top: 1%;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: auto;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px
}

.inputAbaqueCreation {
    text-align: center;
    width: 10%;
    height: 3vh;
    margin-left: 1%;
    
}

.abaqueInputDivCreation {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 36%;
    height: auto;
    margin-left: 32%;
    border: 1px solid white;
    border-radius: 10px;
}

.inputAbaqueCreation {
    background-color: black;
    border: 1px solid transparent;
    color: white;
    border-radius: 10px;
}


.inputAbaquePart {
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 1%;
    width: 10%;
    text-align: center;
}