/* register.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Input styles */
  
  /* Button styles */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Form style */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Error messages */
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  /* Text zone styles */
  .text-zone {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .text-zone label {
    margin-bottom: 5px;
  }
  
#infoPassword {
    color:chocolate;
}

#text_zone {
    background-color: white;
    width: 300px;
    height: 200px;
    text-align: center;
}


.inputRegister {
  text-align: center;
  border-radius: 7px;
  height: 15px;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 200;
}